
body{
    margin:0;
    padding:0;
    /* background :linear-gradient(to right, rgb(203, 52, 181),rgb(68,166,187))); */
}
@font-face {
  font-family: myFirstFont;
  src: url(orbitron-medium.otf);
}
#wrapper {
    text-align: center;
    
}
#zaaa {

  
  font-size: 40px;
  color: #ffffff;
  margin: 3px 3px 3px 3px;
}

#a {
    color:black;
}
#ab {
    color:black;
    font-weight: normal;
}

#close-image img {
    display: block;
    height: 130px;  
    width: 100px;
}


.my_container h1{
   color: white; /* or hexidecimal */
}




#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;

}

#a2{
     /* background: rgb(8,85,131);
background: linear-gradient(90deg, rgba(8,85,131,1) 0%, rgba(11,219,244,1) 54%, rgba(34,117,187,1) 84%); */
}

